<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Input with value -->
<ion-item>
  <ion-label type="text" position="Enter Your Name">Name:</ion-label>
  <ion-input [(ngModel)]="username"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Show Notications:</ion-label>
  <ion-toggle [(ngModel)]="notications" [checked]="toggleStatus"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime [(ngModel)]="dateTime" display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>
</ion-item>
<ion-button (click)="save()">Save</ion-button>
</ion-content>
